# Deployment secrets
# Copy to secrets.nix and fill in your values
{
  hosts = {
    nix-tetris-recorder = {
      targetHost = "hostname.tailnet.ts.net";
      targetUser = "username";
      # User password hash
      # Copy to user-password and generate with:
      #   mkpasswd -m sha-512
      # Example: mkpasswd -m sha-512 "yourpassword"
      userPassword = "$6$...hashed.password...";
      botSecrets = ''
        [default]
        bot_token="YOUR_BOT_TOKEN"
        bot_channel=-1234567890
      '';
    };
  };
}
